<h1>Hello Ralf!</h1>
This is a Rails Application.<br />
<h3><%= link_to "Start here", posts_path %></h3>

<h3>Infos</h3>
For Rails Guides see <a href="http://guides.rubyonrails.org/getting_started.html">http://guides.rubyonrails.org/getting_started.html"</a>

<br />
<a href="http://vs2066056.vserver.de:3000/about.html">about</a>
